# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Python
*.egg-info/
dist/
build/

# OS
.DS_Store
Thumbs.db

# ecosystem
ecosystem.config.js

# Bot files
bot_logs/